.Modal {
    /* Стили для модального окна */
}

.ModalContent {
    /* Стили для контента модального окна */
}

.Close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Switch {
    margin: 10px 0;
}

.MiniTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.MiniTable th, .MiniTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.ModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.SelectAll {
    margin: 10px 0;
}